<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Log in.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B5D0BC961ED5EBAE005A7490</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5D0BCAA1ED5EBAE005A7490</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5D0BCB51ED5EBAE005A7490</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
